
/*
selector {
    property: value
}
*/
body {
    background: transparent;
}
/* generics applied first then classes then ids */
/* in other wordsall applied in order of rules and then more specifics are applied later */

li {
    font-size: 14px;
}

/* 1 */
.list-item {
    color: blue;
}
/* 3 higher numbers mean higher priority and higher specificity */
#first-thing.list-item {
    background: black;
}

/* 2 */
#first-thing {
    color: black;
    text-decoration: underline;
}

/* anything above this line will be for screens smaller than 600px */

@media only screen and (min-width: 600px) {
    #first-thing{
        color: red;
    }
}
@media only screen and (min-width: 900px) {
    #first-thing{
        color: blue;
    }
}